name: Delete Preview

on:
  pull_request:
    types: [closed]

jobs:
  delete-preview:
    runs-on: ubuntu-latest
    steps:
      - name: Delete Preview App
        uses: digitalocean/app_action/delete@v2
        with:
          # Tells the action to find the app associated with this PR
          from_pr_preview: "true"
          # Ensures the workflow doesn't fail if the preview was already deleted
          ignore_not_found: "true"
          token: ${{ secrets.DIGITALOCEAN_ACCESS_TOKEN }}
